<div class="row">
  <div class="col-md-3">
    <%= render 'shared/agent_setting_sidebar' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">Agency Roles</div>
      <div class="panel-body">
        <div class="container">
          <%= link_to "Add Role", new_agency_role_path, class: 'btn btn-success' %>
          <table class="table">
            <thead>
            <tr>
              <th>Name</th>
              <th>Created at</th>
            </tr>
            </thead>
            <% @roles.each do |role| %>
              <tr>
                <td><%= role.name %></td>
                <td><%= role.created_at %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
