<div id="map-container">
    <div id="map" data-map-zoom="4" data-map-scroll="true">
        <!-- map goes here -->
    </div>

    <!-- Map Navigation -->
  <a href="#" id="geoLocation" title="Your location"></a>
  <ul id="mapnav-buttons" class="top">
      <li><a href="#" id="prevpoint" title="Previous point on map">Prev</a></li>
      <li><a href="#" id="nextpoint" title="Next point on mp">Next</a></li>
  </ul>
</div>
