<div class="row">
  <%= render 'properties_search_bar' %>
</div>
<div class="row">
  <div class="col-sm-6">
    <%= render partial: "properties_list" %>
  </div>
  <div class="col-sm-6">
    <%= tag.div nil, id: 'map' %>
    <%= link_to "Redo search here", "#", id: "redo-search" %>
  </div>
</div>
