<ul class="sidebar-list">
  <li class="sidebar-item">
    <a href="<%= agency_roles_path %>" class="sidebar-link <%= current_page?(agency_roles_path) ? 'active' : '' %>">Agency Role Settings</a>
  </li>
  <li class="sidebar-item">
    <a href="<%= agents_path %>" class="sidebar-link <%= current_page?(agents_path) ? 'active' : '' %>">Agents Management</a>
  </li>
</ul>