<div id="footer" class="sticky-footer">
  <!-- Main -->
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h4>Popular Countries</h4>
        <ul class="footer-links">
          <li><a href="#">United States</a></li>
          <li><a href="#">China</a></li>
          <li><a href="#">France</a></li>
          <li><a href="#">United Kingdom</a></li>
        </ul>
        <div class="clearfix"></div>
      </div>

      <div class="col-md-3">
        <h4>Popular Regions</h4>
        <ul class="footer-links">
          <li><a href="#">Toscana</a></li>
          <li><a href="#">Illinois</a></li>
          <li><a href="#">Burgundy</a></li>
          <li><a href="#">Lorraine</a></li>
        </ul>
        <div class="clearfix"></div>
      </div>

      <div class="col-md-3">
        <h4>Popular Cities</h4>
        <ul class="footer-links">
          <li><a href="#">New York</a></li>
          <li><a href="#">London</a></li>
          <li><a href="#">Paris</a></li>
          <li><a href="#">Istanbul</a></li>
        </ul>
        <div class="clearfix"></div>
      </div>

      <div class="col-md-3">
        <h4>Propery Types</h4>
        <ul class="footer-links">
          <li><a href="#">House</a></li>
          <li><a href="#">Appartment</a></li>
          <li><a href="#">Condo</a></li>
          <li><a href="#">Town House</a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>

    <!-- Copyright -->
    <div class="row copyrights">
      <div class="col-md-8">
        <nav id="navigation" class="style-1">
          <ul id="responsive">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Adverties</a></li>
            <li><a href="#">Terms and service</a></li>
            <li><a href="#">Policy</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-md-4">
        <ul class="social-icons pull-right">
          <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
          <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
          <li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
        </ul>
      </div>
    </div>

  </div>

</div>
