<div class="parallax" data-background="assets/home-parallax.jpg" data-color="#36383e" data-color-opacity="0.45" data-img-width="2500" data-img-height="1600">
  <div class="parallax-content">

    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <!-- Main Search Container -->
          <div class="main-search-container">
            <h2>Find Your Dream Home</h2>

            <!-- Main Search -->
            <%= render 'shared/search_form' %>

          </div>
          <!-- Main Search Container / End -->

        </div>
      </div>
    </div>

  </div>
</div>
