
<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Agencies</h2>
				<span>An award winning agencies</span>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li>
						  <%= link_to "Home", root_path %>
						</li>
						<li>Agencies</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>


<!-- Content
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
      <%= render @agencies %>
		</div>

		<div class="col-md-12">
			<div class="clearfix"></div>
			<!-- Pagination -->
			<%= paginate @agencies %>
			<!-- Pagination / End -->
		</div>

	</div>
</div>
