<div class="row">
  <div class="col-md-3">
    <%= render 'shared/agent_setting_sidebar' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">Agencts</div>
      <div class="panel-body">
        <div class="container">
          <%= link_to "Add Agent", new_agent_path, class: 'btn btn-success' %>
          <table class="table">
            <thead>
            <tr>
              <th>Name</th>
              <th>Created at</th>
            </tr>
            </thead>
            <% @agents.each do |agent| %>
              <tr>
                <td><%= agent.name %></td>
                <td><%= agent.created_at %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
