<div class="row">
  <div class="search">
    <%= form_tag root_path, method: :get do %>
      <%= label_tag 'q', 'Search Property' %>
      <%= text_field_tag :q, nil, placeholder: "Type keyword" %>
    <% end %>
  </div>
</div>

<div class="row">
  <% @rooms.each do |room| %>
    <%= room.listing_name %> <br>
  <% end %>
</div>
