<div class="row">
  <div class="col-md-3">
    <%= render 'shared/sidebar' %>
  </div>
  <div class="col-md-9">
    <h1>New Classified Listing</h1>

    <%= render 'form', classified_listing: @classified_listing %>

    <%= link_to 'Back', classified_listings_path %>
  </div>
</div>
