$(document).on("turbolinks:load", function() {

  var map = new GMaps({
    el: '#map',
    lat: -12.043333,
    lng: -77.028333
  });

  window.map = map;

  var properties = JSON.parse(document.querySelector("#map").dataset.properties);
  window.properties = properties;

  properties.forEach(function (property) {
    if (property.latitude && property.longitude){
        var marker = map.addMarker({
        lat: property.latitude,
        lng: property.longitude,
        title: property.address,
        infoWindow: {
          content: `
          <h5>
            <a href='/properties/${property.id}'>
              ${property.name}
            </a>
          </h5>
          <p>
            ${property.address}
          </p>
          `
        }
      });
    }
  });

  var l = document.querySelector("#map").dataset.l;
  if(l){
    var latlngs   = l.split(',');
    var southWest = new google.maps.LatLng(latlngs[0], latlngs[1]);
    var northEast = new google.maps.LatLng(latlngs[2], latlngs[3]);
    var bounds    = new google.maps.LatLngBounds(southWest, northEast);
    map.fitBounds(bounds, 0);
  }else{
    map.fitZoom();
  }


  document.querySelector("#redo-search").addEventListener("click", function(e) {
    e.preventDefault();

    var bounds = map.getBounds();
    var location = bounds.getSouthWest().toUrlValue() + "," + bounds.getNorthEast().toUrlValue();

    Turbolinks.visit(`/properties?l=${location}`);
  });
});
